@model ChangeDetailsModel
@{
	ViewBag.PageName = "Change Details";
	ViewBag.PageScripts = new string[] { "/js/accountForm.min.js" };
}
<main class="pure-g">
	<section class="@ViewBag.PureClasses glass">
		<h2 class="sectionHeading">@ViewBag.PageName</h2>
		<p class="sectionDescription">To change your account details, just edit any of the fields you wish to update, then enter your current password and press the Change Details button!</p>
		@using (Html.BeginForm("ChangeDetails", "Pizza", FormMethod.Post, new { @class = "accountForm" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("")
			<p id="requiredExplanation">Indicates that a field is required.</p>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.EmailAddress, new { @class = "required" })
					@Html.TextBoxFor(m => m.EmailAddress, new { required = "", type = "email" })
				</div>
				<div class="inputBlock checkBoxBlock">
					@Html.LabelFor(m => m.ReceivesEmails)
					@Html.CheckBoxFor(m => m.ReceivesEmails)
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.FirstName, new { @class = "required" })
					@Html.TextBoxFor(m => m.FirstName, new { required = "" })
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.LastName, new { @class = "required" })
					@Html.TextBoxFor(m => m.LastName, new { required = "" })
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.PhoneNumber, new { @class = "required" })
					@Html.TextBoxFor(m => m.PhoneNumber, new { pattern = "^\\(*\\d{3}\\)*(?:\\s|-)*\\d{3}(?:\\s|-)*\\d{4}$", required = "" })
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.PhoneExtension)
					@Html.TextBoxFor(m => m.PhoneExtension, new { pattern = "^\\d{1,4}$" })
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.StreetAddress, new { @class = "required" })
					@Html.TextBoxFor(m => m.StreetAddress, new { pattern = "^\\d+\\s.+$", required = "" })
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.ApartmentNumber)
					@Html.TextBoxFor(m => m.ApartmentNumber, new { pattern = "^\\d{1,4}$" })
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.City, new { @class = "required" })
					@Html.TextBoxFor(m => m.City, new { required = "" })
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.State, new { @class = "required" })
					@Html.TextBoxFor(m => m.State, new { required = "" })
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.ZipCode, new { @class = "required" })
					@Html.TextBoxFor(m => m.ZipCode, new { pattern = "^\\d{5}(?:-\\d{4})*$", required = "" })
				</div>
			</div>
			<br />
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.CurrentPasswordHash, new { @class = "required" })
					@Html.PasswordFor(m => m.CurrentPasswordHash, new { minlength = 6, required = "" })
				</div>
			</div>
			<br />
			<div class="formBlock">
				<div class="inputBlock">
					<input type="submit" value="Change Details" />
				</div>
			</div>
		}
	</section>
</main>