@model Portfolio.Models.ChangePasswordModel
@{
	ViewBag.PageName = "Change Password";
	ViewBag.PageScripts = new string[] {"/Scripts/sha256.js", "/Scripts/hashPasswords.js"};
}
<main class="pure-g">
	<section class="@Global.PureClasses glass">
		<h2 class="sectionHeading">@ViewBag.PageName</h2>
		<p class="sectionDescription">To change your password, first enter your current password, then enter and confirm the password you'd like to use in the future.</p>
		@using (Html.BeginForm("ChangePassword", "Pizza", FormMethod.Post, new { @class = "hashedPasswords" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("")
			@Html.HiddenFor(m => m.EncryptionAlgorithm, new { Value = "SHA-256" })
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.CurrentPasswordHash)
					@Html.PasswordFor(m => m.CurrentPasswordHash)
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.NewPasswordHash)
					@Html.PasswordFor(m => m.NewPasswordHash)
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.ConfirmNewPasswordHash)
					@Html.PasswordFor(m => m.ConfirmNewPasswordHash)
				</div>
			</div>
			<br/>
			<div class="formBlock">
				<div class="inputBlock">
					<input type="submit" value="Change Password" />
				</div>
			</div>
		}
	</section>
</main>