@model ChangePasswordModel
@{
	ViewBag.PageName = "Change Password";
	ViewBag.PageScripts = new string[] { "/js/accountForm.min.js" };
}
<main class="pure-g">
	<section class="@ViewBag.PureClasses glass">
		<h2 class="sectionHeading">@ViewBag.PageName</h2>
		<p class="sectionDescription">To change your password, first enter your current password, then enter and confirm the password you'd like to use in the future.</p>
		@using (Html.BeginForm("ChangePassword", "Pizza", FormMethod.Post, new { @class = "accountForm" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("")
			@Html.HiddenFor(m => m.EncryptionAlgorithm)
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.CurrentPasswordHash)
					@Html.PasswordFor(m => m.CurrentPasswordHash, new { minlength = 6, required = "" })
				</div>
			</div>
			<div class="formBlock">
				<div class="inputBlock">
					@Html.LabelFor(m => m.NewPasswordHash)
					@Html.PasswordFor(m => m.NewPasswordHash, new { minlength = 6, required = "" })
				</div>
				<div class="inputBlock">
					@Html.LabelFor(m => m.ConfirmNewPasswordHash)
					@Html.PasswordFor(m => m.ConfirmNewPasswordHash, new { minlength = 6, required = "" })
				</div>
			</div>
			<br />
			<div class="formBlock">
				<div class="inputBlock">
					<input type="submit" value="Change Password" />
				</div>
			</div>
		}
	</section>
</main>